@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  display: block;
  max-width: 300px;
}

textarea {
  min-height: 5rem;
  min-width: 500px;
  resize: vertical;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  color: #555555;
  font-size: 20px;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
}
body .container {
  padding-left: 32px;
}

.header1 {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  /* Menu Icon */
}
.header1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header1 .logoImg {
  display: inline-block;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
.header1 .main-nav > ul {
  display: none;
}
.header1 .burger-icon {
  padding: 41px 32px;
  font-size: 24px;
  color: #999999;
}
.header1 li {
  list-style-type: none;
}
.header1 li .no-underline {
  text-decoration: none;
}
.header1 li .pink {
  text-decoration: none;
  color: #FF3998;
  padding-right: 80px;
}

.hero {
  margin-bottom: 80px;
}
.hero .hero-title {
  text-transform: capitalize;
  color: #FF3998;
  font-size: 16px;
  font-weight: 700;
}
.hero .hero-main-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 24px;
}
.hero .hero__text {
  line-height: 30px;
}
.hero .btn {
  padding: 0.8em 1.5em;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 2rem;
  border: 4px solid rgb(242, 70, 99);
}
.hero .hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero .heroImg {
  position: absolute;
  left: 46%;
  top: 54px;
  max-width: 100%;
  overflow: hidden;
}
.hero .hero-img-container {
  overflow: hidden;
}

.get-free .get-free-container {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF3998), to(#FF8139));
  background-image: linear-gradient(to right, #FF3998, #FF8139);
  background-size: cover;
  padding: 122px 32px 32px 32px;
  text-align: center;
}
.get-free .get-free-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.get-free .get-free-subtitle {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.partner .partner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 64px 32px;
}
.partner .partner-grid .partner-card {
  padding: 1em;
}

.super-rare {
  margin-bottom: 40px;
}
.super-rare .super-rare-container {
  padding-left: 32px;
  padding-right: 32px;
}
.super-rare .super-rare-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.super-rare .super-rare-subtitle {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}
.super-rare a {
  color: #555555;
}

.auction .auction-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.auction .auction-single-card {
  background-color: #EEEEEE;
  border-radius: 7%;
  margin-left: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 5.57rem;
  width: 280px;
  min-width: 280px;
}
.auction .single-card-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #EEEEEE;
  color: black;
  padding: 24px;
  gap: 15px;
}
.auction .property1 {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 12px;
  color: #FF8139;
  line-height: 12px;
  text-transform: uppercase;
}
.auction .property2 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.auction .property3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #777777;
  padding-top: 12px;
}
.auction .property4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #777777;
  text-transform: uppercase;
  padding-left: 60px;
}
.auction .property5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 8px;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
}
.auction .property5 h4 {
  font-weight: 500;
  margin: 0;
}
.auction .property5 img {
  padding-right: 7px;
}
.auction .property6 {
  line-height: 18px;
  font-size: 18px;
  color: #777777;
  padding-top: 10px;
  padding-left: 30px;
}

.green {
  padding-top: 64px;
  overflow: hidden;
}
.green .green-title {
  text-transform: capitalize;
  color: #FF3998;
  font-size: 16px;
  font-weight: 700;
}
.green .green-main-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 24px;
}
.green .green__text {
  line-height: 30px;
}
.green .btn {
  padding: 0.8em 1.5em;
  background-color: #fff;
  color: black;
  font-size: 20px;
  border-radius: 2rem;
  border: 4px solid rgb(242, 70, 99);
}
.green .green-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.green .green-img-container {
  overflow: hidden;
}
.green .greenImg {
  position: absolute;
  left: 60%;
  overflow: hidden;
}

.footer {
  margin-top: 64px;
}
.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 32px;
}
.footer .footer-main {
  padding-top: 64px;
  padding-left: 32px;
  padding-bottom: 64px;
}
.footer .footerImg {
  margin-bottom: 30px;
}
.footer .footer__icons {
  padding-top: 32px;
}
.footer .exclusive-p {
  margin-bottom: 0;
}
.footer .fa {
  color: #999999;
  font-size: 18px;
  padding-right: 12px;
}
.footer .copyright {
  padding-top: 64px;
  padding-bottom: 105px;
  padding-left: 32px;
  color: #999999;
  font-size: 20px;
}

@media screen and (min-width: 1440px) {
  .header1 .main-nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
  }
  .header1 .burger-icon {
    display: none;
  }
  .partner .partner-grid {
    grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .auction .single-post__image {
    max-width: 100%;
  }
  .footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .footer .footer-footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .launching {
    padding-top: 64px;
    padding-bottom: 105px;
    padding-right: 32px;
    color: #999999;
    font-size: 20px;
  }
}
@media screen and (max-width: 1439px) {
  .partner-grid .invisible-card {
    display: none;
    visibility: hidden;
  }
  .footer .launching {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */