@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  display: block;
  max-width: 300px;
}

textarea {
  min-height: 5rem;
  min-width: 500px;
  resize: vertical;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  color: #555555;
  font-size: 20px;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
}
body .container {
  padding-left: 32px;
}

.header1 {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  /* Menu Icon */
}
.header1 .logoImg {
  display: inline-block;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
.header1 .burger-icon {
  padding: 41px 32px;
  font-size: 24px;
  color: #999999;
}
.header1 .menu {
  display: none;
}
.header1 .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  margin-bottom: 80px;
}
.hero .hero-title {
  text-transform: capitalize;
  color: #FF3998;
  font-size: 16px;
  font-weight: 700;
}
.hero .hero-main-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 24px;
}
.hero .hero__text {
  line-height: 30px;
}
.hero .btn {
  padding: 0.8em 1.5em;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 2rem;
  border: 4px solid rgb(242, 70, 99);
}
.hero .hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero .heroImg {
  position: absolute;
  left: 46%;
  top: 54px;
  max-width: 100%;
  overflow: hidden;
}
.hero .hero-img-container {
  overflow: hidden;
}

.get-free .get-free-container {
  background-image: url(../img/background.svg);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-size: cover;
  padding: 122px 32px 32px 32px;
  text-align: center;
}
.get-free .get-free-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.get-free .get-free-subtitle {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.partner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 64px 32px;
}
.partner-grid .partner-card {
  padding: 1em;
}
.partner-grid .d-none {
  display: none;
}

.super-rare {
  margin-bottom: 40px;
}
.super-rare .super-rare-container {
  padding-left: 32px;
  padding-right: 32px;
}
.super-rare .super-rare-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.super-rare .super-rare-subtitle {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}
.super-rare a {
  color: #555555;
}

.auction .auction-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
}
.auction .auction-single-card {
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 10px rgb(180, 190, 194);
          box-shadow: 5px 5px 10px rgb(180, 190, 194);
  border: 1px solid rgb(191, 180, 180);
  border-radius: 5px;
  background-color: snow;
}
.auction .single-card-image {
  max-width: 100%;
  padding-top: 1em;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}
.auction .single-card-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #EEEEEE;
  color: black;
  padding: 32px;
  margin-left: 1em;
  margin-right: 5.5em;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 32px;
}
.footer .footer-main {
  padding-top: 64px;
  padding-left: 32px;
  padding-bottom: 64px;
}
.footer .footerImg {
  margin-bottom: 30px;
}
.footer .footer__icons {
  padding-top: 32px;
}
.footer .exclusive-p {
  margin-bottom: 0;
}
.footer .contact {
  padding-top: 20px;
}
.footer .social {
  padding-top: 20px;
}
.footer .fa {
  color: #999999;
  font-size: 18px;
  padding-right: 12px;
}
.footer .copyright {
  padding-top: 64px;
  padding-bottom: 105px;
  padding-left: 32px;
  color: #999999;
  font-size: 20px;
}

@media screen and (min-width: 1440px) {
  .footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .footer .footer-footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .launching {
    padding-top: 64px;
    padding-bottom: 105px;
    padding-right: 32px;
    color: #999999;
    font-size: 20px;
  }
}
@media screen and (max-width: 1439px) {
  .footer .launching {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */