@media screen and (min-width: 1440px) {
//DESKTOP

    // header
    .header1 {
        .main-nav > ul {
            display: flex;
            gap: 28px;
        }

        .burger-icon {
            display: none;
        }
    }

    .hero-left-container {
        padding-left: 200px;
        width: 50%;
        
        .hero-main-title {
            font-size: 56px;
        }
    }

    .get-free {
        .get-free-container {
            margin-left: 80px;
            margin-right: 80px;
            border-radius: 16px;
            padding-right: 700px;
        }

    .partner {
        .partner-grid {
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            justify-content: center;
        }
    }

    .auction {
        .auction-cards {
            justify-content: space-around;
            padding-right: 50px;
            padding-left: 15px;
        }
        
    }

    .hr {
        .hr-grey {
            margin-left: 80px;
            margin-right: 80px;
        }
    }

    .green-left-container {
        padding-left: 200px;
        width: 50%;
        
        .green-main-title {
            font-size: 56px;
        }

        .btn {
            margin-bottom: 125px;
        }
    }

    .footer {
        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            width: 50%;
        }

        .footer-footer-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }

        .launching {
            padding-top: 64px;
            padding-bottom: 105px;
            padding-right: 32px;
            color: #999999;
            font-size: 20px;
        }

    }
}

@media screen and (max-width: 1439px) {

    .hero-flex {
        .hero-left-container {
            padding-left: 20px;
        }
    }

    .partner-grid { //neveikia
        .invisible-card {
            display: none;
            visibility: hidden;
        }
    }

    .green-flex {
        .green-left-container {
            padding-left: 20px;
        }
    }

    .footer {
        .launching {
            display: none;
        }
    }
}