@media screen and (min-width: 1440px) {
//DESKTOP

    // header
    .header1 {
        .main-nav > ul {
            display: flex;
            gap: 28px;
        }

        .burger-icon {
            display: none;
        }
    }

    .partner {
        .partner-grid {
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            justify-content: center;
        }
    }

    .auction {
        .single-post__image {
            max-width: 100%;
        }
    }

    .footer {
        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            width: 50%;
        }

        .footer-footer-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }

        .launching {
            padding-top: 64px;
            padding-bottom: 105px;
            padding-right: 32px;
            color: #999999;
            font-size: 20px;
        }

    }
}

@media screen and (max-width: 1439px) {

    // .header1 {
    //     .menu {
    //         display: none;
    //     }
    // }

    .partner-grid { //neveikia
        .invisible-card {
            display: none;
            visibility: hidden;
        }
    }

    .footer {
        .launching {
            display: none;
        }
    }
}