@use 'reset';
@use 'vars' as v;
@use 'common';

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

body {
    font-family: 'Inter', sans-serif;

    .container {
        padding-left: 32px;
    }
}

.container {

}

//HEADER
.header1 {
    // background-color: white;
    // position: sticky;
    // top: 0;
    // width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoImg {
        display: inline-block;
        font-size: 2rem;
        // margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .main-nav > ul {
        display: none;
    }

    /* Menu Icon */
    .burger-icon {
        padding: 41px 32px;
        font-size: 24px;
        color: #999999;

    }

    // .menu {
    //     display: none;
    // }

    // .flex {
    //     display: flex;
    //     justify-content: space-between;
    // }

    li {
        list-style-type: none;
        .no-underline {
            text-decoration: none;
        }
        .pink {
            text-decoration: none;
            color: #FF3998;
            padding-right: 80px;
        }
    }

    // .nav {
    //     display: flex;
    // }
}

// HERO sekcija
.hero {
    margin-bottom: 80px;
    .hero-title {
        text-transform: capitalize;
        color: #FF3998;
        font-size: 16px;
        font-weight: 700;
    }

    .hero-main-title {
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 24px;
    }

    .hero__text {
        line-height: 30px;
    }

    .btn {
        padding: 0.8em 1.5em;
        background-color: white;
        color: black;
        font-size: 20px;
        border-radius: 2rem;
        border: 4px solid rgb(242, 70, 99);
    }

    .hero-flex {
        display: flex;
        justify-content: space-between;
        // position: relative; //new
        // .hero-flex > .heroImg {
        //     position: absolute;
        //     top: 0;
        //     left: 100%;
        //     transform: translateX(-50%);
        //   }
    }



    .heroImg {
        position: absolute;
        left: 46%;
        top: 54px;
        max-width: 100%;
        overflow: hidden;
    }

    .hero-img-container {
        overflow: hidden; 
    }
    

    // .hero-left-container {
    //     padding-right: 70px;
    // }

    // .hero__text {
    //     line-height: 1.5;
    //     font-weight: 400;
    // }

    // .hero-img-container {
    //     border: 1px solid black;
    //     background-image: url("../img/graphic.svg");
    //     background-repeat: no-repeat;
    //     background-position: right -20% bottom 50px;
    //     padding: 20em;
    // }
    
}

// GET FREE sekcija
.get-free {
    .get-free-container {
        // background-image: url(../img/background.svg);
        // transform: scale(1.2); //kad nebutu uzapvalinti kampuciai
        background-image: linear-gradient(to right, #FF3998 , #FF8139);
        background-size: cover;
        padding: 122px 32px 32px 32px;
        text-align: center;
        // width: 100%;
    }

    .get-free-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
    }

    .get-free-subtitle {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }
}

// PARTNERS sekcija

.partner {
    .partner-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 64px 32px;

        .partner-card {
            padding: 1em;
        }

        // .invisible-card {
        //     display: none;
        // }
    }
}

// SUPER RARE sekcija

.super-rare {
    margin-bottom: 40px;

    .super-rare-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .super-rare-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
    }

    .super-rare-subtitle {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #555555;
    }

    a {
        color: #555555;

    }
}

.auction {
    .auction-cards {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // gap: 1rem;
        // overflow: hidden;
        display: flex;
        overflow: hidden;
    }

    .auction-single-card {
        // background-color: #EEEEEE;
        // display: flex;
        // flex-direction: column;
        // padding: 1rem;
        // box-shadow: 5px 5px 10px rgb(180, 190, 194);
        // border: 1px solid rgb(191, 180, 180);
        // border-radius: 5px;
        // background-color: snow;
        background-color: #EEEEEE;
        border-radius: 7%;
        margin-left: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 5.57rem;
        width: 280px;
        min-width: 280px;
    }

    // .single-card-image {
    //     max-width: 100%;
    //     // padding-top: 1em;
    //     padding-bottom: 0;
    //     // padding-left: 1em;
    //     // padding-right: 1em;
    // }

    

    .single-card-description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // column-gap: 110px;
        // row-gap: 10px;
        background-color: #EEEEEE;
        color: black;
        padding: 24px;
        // margin-left: 1em;
        // margin-right: 5.5em;
        gap: 15px;
    }

    .property1 {
        font-weight: 500;
        font-size: 12px;
        padding-bottom: 12px;
        color: #FF8139;
        line-height: 12px;
        text-transform: uppercase;
    }

    .property2 {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
    }

    .property3 {
       font-size: 18px;
       font-weight: 400;
       line-height: 18px;
       color: #777777;
       padding-top: 12px;
    }

    .property4 {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: #777777;
        text-transform: uppercase;
        padding-left: 60px;
    }

    .property5 {
        display: flex;
        align-items: baseline;
        padding-top: 8px;
        font-size: 20px;
        line-height: 20px;
        color: #111111;
        h4 {
            font-weight: 500;
            margin: 0;
        }
        img {
            padding-right: 7px;
        }
    }

    .property6 {
        line-height: 18px;
        font-size: 18px;
        color: #777777;
        padding-top: 10px;
        padding-left: 30px;
    }
}

//GREEN NFT sekcija

.green {
    padding-top: 64px;
    overflow: hidden;
    .green-title {
        text-transform: capitalize;
        color: #FF3998;
        font-size: 16px;
        font-weight: 700;
    }

    .green-main-title {
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 24px;
    }

    .green__text {
        line-height: 30px;
    }

    .btn {
        padding: 0.8em 1.5em;
        background-color: #fff;
        color: black;
        font-size: 20px;
        border-radius: 2rem;
        border: 4px solid rgb(242, 70, 99);
    }
    .green-flex {
        display: flex;
        justify-content: space-between;
    }

    .green-img-container {
        overflow: hidden;
        // @import url(../img/upsell-footer-image.svg);
    }

    .greenImg {
        position: absolute;
        left: 60%;
        overflow: hidden;
    }
}


// FOOTER

.footer {
    margin-top: 64px;
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 32px;
    }

    .footer-main {
        padding-top: 64px;
        padding-left: 32px;
        padding-bottom: 64px;
    }

    .footerImg {
        margin-bottom: 30px;
    }

    .footer__icons {
        padding-top: 32px;
    }

    .exclusive-p {
        margin-bottom: 0;
    }

    .contact {
        // padding-top: 20px;
    }

    .social {
        // padding-top: 20px;
    }

    .fa {
        color: #999999;
        font-size: 18px;
        padding-right: 12px;
    }

    .copyright {
        padding-top: 64px;
        padding-bottom: 105px;
        padding-left: 32px;
        color: #999999;
        font-size: 20px;
    }

    // .launching {
    //     display: none;
    // }

}


@import 'media';